:root {
    --bg-gray: #F2F2F2;
}

main{   
    margin: 20px 0;
    display: flex;
    column-gap: 20px;
}
main h3 {
    margin: 10px 0 0 10px;
    font-size: medium;
    font-weight: bold;
}
main p {
    font-size: smaller;
}

/*---------------- (hebergement) ----------------*/
#hebergement {   
    width: 68%;
    background-color: var(--bg-gray);
    border-radius: 13px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 31.3% 31.3% 31.3%;
    grid-template-rows: 70px 240px 240px 50px;
    grid-column-gap: 3%;
}

#hebergement .card,
#populaire .card {
    width: 100%; height: 200px;
    margin: 20px 0;
    padding: 4px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 13px;
    align-self: center; justify-self: center;
}

#hebergement .card:nth-child(2){
    grid-row: 2/3;
    grid-column: 1/2;
}
#hebergement .card:nth-child(3) {
    grid-row: 2/3;
    grid-column: 2/3;
}
#hebergement .card:nth-child(4) {
    grid-row: 2/3;
    grid-column: 3/4;
}
#hebergement .card:nth-child(5) {
    grid-row: 3/4;
    grid-column: 1/2;
}
#hebergement .card:nth-child(6) {
    grid-row: 3/4;
    grid-column: 2/3;
}
#hebergement .card:nth-child(7) {
    grid-row: 3/4;
    grid-column: 3/4;
}

/* (img hebergement) */
#hebergement .img{
    width: 100%;
    height: 120px;
    border-radius: 10px 10px 0 0;
}

#hebergement .card:nth-child(2) .img {
    background-color: #333;
    background: no-repeat center / cover url('../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}
#hebergement .card:nth-child(3) .img {
    background-color: #333;
    background: no-repeat center / cover url('../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
}
#hebergement .card:nth-child(4) .img {
    background-color: #333;
    background: no-repeat center / cover url('../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
}
#hebergement .card:nth-child(5) .img {
    background-color: #333;
    background: no-repeat center / cover url('../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}
#hebergement .card:nth-child(6) .img {
    background-color: #333;
    background: no-repeat center / cover url('../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
}
#hebergement .card:nth-child(7) .img {
    background-color: #333;
    background: no-repeat center / cover url('../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
}

/* (text) (lien) (étoile) */
#hebergement h2{
    margin: 30px 0 0;
    grid-column: 1/5; justify-self: flex-start; 
}

#hebergement a {
    font-weight: bolder;
    margin: 0;
    grid-column: 1/2; grid-row: 4/5;
}

#hebergement a:visited {
    color: #000;    
}
/*---------------- (populaire) ----------------*/
.etoile, .card p{
    margin-left: 10px;
}

.etoile {
	display: flex;
	margin-top: auto;
    padding-bottom: inherit;
}
.etoile img {
    margin: 1px;
}

/*---------------- (populaire) ----------------*/
#populaire { 
    width: 31%;
    padding: 0 20px;  
    background-color: var(--bg-gray);
    border-radius: 13px;
    display: flex;
    flex-direction: column;
}
#populaire .card{
    width: 100%;
    height: 140px;
    padding-bottom: 0px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 52px 37.5px 42px;
    align-self: center; justify-self: center;
    column-gap: 8px;
}
.titleAside {
    margin: 30px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.fa, .far, .fas {
	font-size: 25px;
}
#populaire .card:nth-child(2) .img {
    background-color: #333;
    background: no-repeat center / cover url('../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
}
#populaire .card:nth-child(3) .img {
    background-color: #333;
    background: no-repeat center / cover url('../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
}
#populaire .card:nth-child(4) .img {
    background-color: #333;
    background: no-repeat center / cover url('../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
}
    
#populaire .img{
    grid-row: 1/4;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
#populaire h3 {
    grid-column: 2/3;
}

#populaire .card:nth-child(2) {
    grid-row: 2/3;
}
#populaire .card:nth-child(3) {
    grid-row: 3/4;
}
#populaire .card:nth-child(4) {
    grid-row: 4/5;
}

#populaire .etoile{
    align-self: flex-end;
}

/*---------------- (responsive) ----------------*/
@media (max-width: 1024px) {
    main {
        padding: 20px 0;
        display: flex; row-gap: 20px;
        flex-direction: column-reverse;
    }

     /* populaire */
    #populaire {
        width: 100%; height: 360px;
        margin-left: 0;
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 68px 265px;
        row-gap: 21px;
    }
    .titleAside {
        grid-column: 1/4;
        justify-content: center;
        align-items: center;
    }
    .titleAside h2 {
        margin-right: 25px;
    }
    #populaire .card:nth-child(3) p {
        margin-top: 10px;
    }
    #populaire .card {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }
    #populaire .img{
        height: 148px;
        border-radius: 15px 15px 0 0;
    }
    #populaire .etoile {
        align-self: flex-start;
        display: flex;
        margin-top: auto;
        padding-bottom: 10px;
    }
    
    #populaire .card {
        height: 232.6px;
        width: 90%;
    }
    #populaire .card:nth-child(3) {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    #populaire .card:nth-child(4) {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    /* hebergement */
    #hebergement {
        width: 100%;
        height: 648px;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 68px 265px 265px 50px;
        gap: 0;
    }
    #hebergement .card, 
    #populaire .card {
        height: 232.6px;
        border-radius: 15px;
    }
    #hebergement .card {
        width: 90%;
    }
    #hebergement .card .img {
        height: 140px;
        border-radius: 15px 15px 0 0;
    } 
    /* (text) (lien) (étoile) */
    #hebergement h4 {
        margin: 5px 0 5px 10px;
        font-weight: bold;
    }
    #hebergement h2 {margin: 30px 0 0 14px;}
    
    #hebergement a {margin-left: 14px;}
    
    .etoile {margin-top: auto;}
    
}

@media (max-width: 768px) {
    main {
        height: 940px;
        flex-direction: row;
        gap: 10px;
    }
    #hebergement {
        width: 68%; height: 902px;
        padding: 0;
        grid-template-columns: 50% 50%;
        grid-template-rows: 70px 240px 240px 240px 50px;
        row-gap: 15px;
    }
    #hebergement .card:nth-child(4) {
        grid-row: 4/5;
        grid-column: 1/2;
    }
    #hebergement .card:nth-child(7) {
        grid-row: 4/5;
        grid-column: 2/3;
    }
    #hebergement a {
        grid-column: 1/4;
        grid-row: 5/6;
    }
    #hebergement h2, #hebergement a {justify-self: center;}

    /* populaire */
    #populaire {
        width: 36%; height: 902px;
        padding: 0;
        display: flex; row-gap: 27px;
    }
    #populaire .card {height: 232.6px; align-self: center;}

    .fa-chart-line {display: none;}

    .titleAside {justify-content: center;}
    .titleAside h2 {margin-right: 0;}
}
@media (max-width: 540px) {
    main {
        height: auto;
        margin: 0 0 30px;
        flex-direction: column-reverse;
    }

    #hebergement {
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 0 15px;
    }
    #hebergement h2 {
        margin: 30px 0 10px 14px;
    }
    #hebergement .card {
        width: 100%;
        margin: 15px 0;
    }
    #hebergement a {
        margin: 15px 0 0;
    }
    #populaire {
        width: 100%; height: auto;
        padding: 0 15px 35px;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    #populaire .card {
        width: 100%;
        height: 190px;
        padding-bottom: 0px;
        border-radius: 30px;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 32.3% 32.3% 32.3%;
        align-self: center;
        justify-self: center;
    }
    #populaire .card {
        margin: 10px 0;
    }
    #populaire .img {
        height: 100%;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .titleAside {
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .fa-chart-line {display: block;}
    
    #populaire .etoile {
        align-self: flex-end;
    }
}