main{   
    margin: 20px 0;
    display: flex;
}
main h3 {
    margin: 10px 0 0 10px;
    font-size: medium;
    font-weight: bold;
}
main p {
    font-size: smaller;
}

/*---------------- (hebergement) ----------------*/
#hebergement {   
    width: 67%;
    background-color: #F2F2F2;
    border-radius: 13px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 31.5% 31.5% 31.5%;
    grid-template-rows: 10% 40% 40% 8%;
    gap: 3px;
    grid-column-gap: 20px;
}
#hebergement h2{
    margin: 30px 0 0;
    grid-column: 1/5;
    justify-self: flex-start; 
}

#hebergement .card:nth-child(2){
    grid-row: 2/3;
    grid-column: 1/2;
}
#hebergement .card:nth-child(3) {
    grid-row: 2/3;
    grid-column: 2/3;
}
#hebergement .card:nth-child(4) {
    grid-row: 2/3;
    grid-column: 3/4;
}
#hebergement .card:nth-child(5) {
    grid-row: 3/4;
    grid-column: 1/2;
}
#hebergement .card:nth-child(6) {
    grid-row: 3/4;
    grid-column: 2/3;
}
#hebergement .card:nth-child(7) {
    grid-row: 3/4;
    grid-column: 3/4;
}
#hebergement a {
    font-size: medium;
    font-weight: bolder;
    margin: 0;
    grid-column: 1/5;
    grid-row: 4/5;
}
#hebergement a:visited {
    color: #000;    
}

#hebergement .card,
aside .card {
    width: 100%;
    height: 85%;
    margin: 20px 0;
    padding: 4px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 13px;
    align-self: center;
    justify-self: center;
}
#hebergement .card:nth-child(2) .img {
    background-color: #333;
    background: no-repeat center / cover url('../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}
#hebergement .card:nth-child(3) .img {
    background-color: #333;
    background: no-repeat center / cover url('../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
}
#hebergement .card:nth-child(4) .img {
    background-color: #333;
    background: no-repeat center / cover url('../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
}
#hebergement .card:nth-child(5) .img {
    background-color: #333;
    background: no-repeat center / cover url('../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}
#hebergement .card:nth-child(6) .img {
    background-color: #333;
    background: no-repeat center / cover url('../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
}
#hebergement .card:nth-child(7) .img {
    background-color: #333;
    background: no-repeat center / cover url('../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
}
#hebergement .img{
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0 0;
}
.etoile, .card p{
    margin-left: 10px;
}
.etoile {
	display: flex;
	margin-top: auto;
    padding-bottom: inherit;
}
.etoile img {
    margin: 1px;
}

/*---------------- (populaire) ----------------*/
aside { 
    width: 31%;
    padding: 0 15px;  
    background-color: #F2F2F2;
    border-radius: 13px;
    display: grid;
    margin-left: 20px;
    grid-template-rows: 10% 26.6% 26.6% 26.6%;
    grid-template-columns: 100%;
    row-gap: 10px;
}
aside .card{
    width: 100%;
    height: 140px;
    padding-bottom: 0px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 52px 37.5px 42px;
    align-self: center;
    justify-self: center;
    column-gap: 8px;
}
.titleAside {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.fa, .far, .fas {
	font-size: 25px;
}
aside .card:nth-child(2) .img {
    background-color: #333;
    background: no-repeat center / cover url('../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
}
aside .card:nth-child(3) .img {
    background-color: #333;
    background: no-repeat center / cover url('../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
}
aside .card:nth-child(4) .img {
    background-color: #333;
    background: no-repeat center / cover url('../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
}
    
aside .img{
    grid-row: 1/4;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
aside h3 {
    grid-column: 2/3;
}

aside .card:nth-child(2) {
    grid-row: 2/3;
}
aside .card:nth-child(3) {
    grid-row: 3/4;
}
aside .card:nth-child(4) {
    grid-row: 4/5;
}

aside .etoile{
    align-self: flex-end;
}

/*---------------- (responsive) ----------------*/
@media (max-width: 1072px) {
    aside .card:nth-child(3) {
        grid-template-rows: 73px 28.5px 29.5px;
        column-gap: 8px;
    }
}
@media (min-width: 1025px) {
    #hebergement .card {
        width: 100%;
        min-width: 195.5px;
        max-width: 267px;
        height: 200px;
    }
    #hebergement .card .img {
        height: 120px;
    }
    aside .card {
        padding: 4px 0 0 4px;
        min-width: 278.5px;
    }
}

@media (max-width: 1024px) {
    main {
        padding: 20px 0;
        display: flex;
        flex-direction: column-reverse;
    }

    /* hebergement */
    #hebergement a, #hebergement h2 {
        padding-left: 20px;
    }

    #hebergement {
        width: 100%;
        height: 648px;
        padding: 0;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 68px 265px 265px 50px;
        gap: 0;
    }
    #hebergement .card, aside .card {
        height: 232.6px;
        border-radius: 20px;
    }
    #hebergement .card {
        width: 100%;
    }
    #hebergement h4 {
        margin: 5px 0 5px 10px;
        font-weight: bold;
    }
    .etoile {
        margin-top: auto;
    }
    #hebergement .card .img {
        height: 140px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    /* populaire */
    aside {
        width: 100%;
        height: 360px;
        margin-left: 0;
        margin-bottom: 20px;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 68px 265px;
        row-gap: 21px;
    }
    .titleAside {
        grid-column: 1/4;
        justify-content: center;
        align-items: center;
    }
    .titleAside h2 {
        margin-right: 25px;
    }
    aside .card:nth-child(3) p {
        margin-top: 10px;
    }
    aside .card {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }
    aside .img{
        height: 148px;
        border-radius: 16px 16px 0 0;
    }
    aside .etoile {
        align-self: flex-start;
        display: flex;
        margin-top: auto;
        padding-bottom: 10px;
    }
    
    aside .card {
        height: 232.6px;
        width: 90%;
    }
    aside .card:nth-child(3) {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    aside .card:nth-child(4) {
        grid-row: 2/3;
        grid-column: 3/4;
    }
}

@media (max-width: 762px) {
    main {
        gap: 10px;
    }
    #hebergement,
    aside {
        width: 100%;
        align-self: center;
        margin: 0;
    }
    aside {
        height: 360px;
        padding: 10px 0;
    }
}
@media (max-width: 540px) {
    main {
        flex-direction: column-reverse;
    }

    #hebergement {
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 1685px;
        padding: 0 15px;
    }

    aside {
        height: 730px;
        padding: 25px 15px 0;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .titleAside {
        justify-content: space-between;
    }
    aside .card:nth-child(2),
    aside .card:nth-child(3),
    aside .card:nth-child(4) {
        width: 100%;
        height: 190px;
        margin: 25px 0;
        padding-bottom: 0px;
        border-radius: 30px;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 32.3% 32.3% 32.3%;
        align-self: center;
        justify-self: center;
    }
    aside .card:nth-child(3) {
        margin: 0;
    }
    aside .card:nth-child(4) {
        margin-bottom: 0;
    }

    aside .img {
        height: 100%;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    aside .etoile {
        align-self: flex-end;
    }
}