*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

/*--************************* ( container principale ) *************************--*/
.container{
    margin: 0 30px 30px;
    display: flex;
    flex-direction: column;
}
.container a{
    text-decoration: none;
}
.container .card {
    box-shadow: 4px 8px 16px rgba(0,0,0,0.3);
}
@media (max-width: 1024px) {
    .container {
        margin: 0 12px 30px;
    }
}
@media (max-width: 540px) {
    .container {
	margin: 0 0 30px;
    }
    .container .card {
        width: 100%;
        cursor: pointer;
    }
}
/*--************************* ( navbar) *************************--*/
nav {
    /* position: fixed; */
    width: 100%;
    border-bottom: 1px solid transparent;
    z-index: 100;
    display: flex;
}
.liste-nav {
    border-bottom: 1px dotted transparent;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    list-style-type: none;
    /* position: fixed; */
    z-index: 200;
}
.logo-menu {
	align-self: center;
}
.liste-nav li:nth-child(1) {
    margin-right: auto;
}
.item-nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #0065FC;
    text-decoration: none;
    margin: 0 20px;
}
.liste-nav li {
	height: 100%;
    display: flex;
    align-items: flex-end;
}

nav .item-nav:focus {
    border-top: 1px solid #0065FC;
}

/*--************************* (header) *************************--*/
header {
    margin: 70px 0 23px;
}
header h2:nth-child(1) {
	/* line-height: 21px; */
	font-weight: bold;
	margin-bottom: 10px;
    font-size: 1.6rem;
}
header a {
    display: flex;
    margin-top: 25px;
}
header a p{
    margin-left: 10px;
    color: black;
}

/*--************************* ( form recherche) *************************--*/
.flexForm {
    width: 393px;
    height: 38px;
    margin: 17px 0;
    display: flex;
    z-index: 10;
    position: relative;
}
.flexForm > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 16px;
    border-radius: 0;
    outline: 0;
}

input[type="search"] {
    flex-basis: 500px;
    padding-right: 10px;
    cursor: pointer;
}
.flexForm input {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.flexForm label {
    padding: 0;
    background-color: #F2F2F2;
    flex-basis: 45px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
}
.flexForm label img {
	width: 22px;
	margin: auto;
	align-self: auto;
}

.flexForm button, .filtre button {
    background: #0065FC;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
}
.flexForm button:hover, .filtre button {
    background: #8a63dd;
    border: 1px solid #8a63dd;
}
.fa-search{
    display: none;
}
/* @media (max-width: 1024px) {

} */
@media (max-width: 540px) {
    nav {
        height: 95px;
    }
    
    .liste-nav {
        height: 115px;
        border-bottom: 1px solid #F2F2F2;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 70px 45px;
    }

    .logo-menu {
        height: 70px;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .liste-nav li:nth-child(2) {
        width: 100%;
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: flex-end;
        justify-self: center;
    }
    .liste-nav li:nth-child(3) {
        width: 100%;
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: flex-end;
        justify-self: center;
        
    }
    .liste-nav li:nth-child(4) {
        height: 70px;
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: flex-end;
    }
    
    .item-nav {
        font-size: 1.5rem;
        align-items: center;
    }
    nav .liste-nav li:nth-child(2) .item-nav,
    nav .liste-nav li:nth-child(3) .item-nav {
        width: 100%;
        margin: 0;
    }
    nav .liste-nav li:nth-child(2) .item-nav:focus ,
    nav .liste-nav li:nth-child(3) .item-nav:focus {
        border-bottom: 1px solid #0065FC;
        border-top: 0;
    }
    
    .flexForm {
        width: 100%;
        height: 51px;
    }
    .flexForm > * {
        padding: 0 0 0 30px;
    }
    input[type="search"] {
        padding-right: 0;
        flex-basis: 88%;
    }
    .flexForm button {
        padding: 0px;
        position: absolute;
        right: 1px;
        border-radius: 18px;
        display: grid;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 100%;
    }
    .flexForm button p {
        display: none;
    }
    .fa-search{
        display: block;
        align-self: center;
        justify-self: center;
    }
}
/*--************************* ( filtres ) *************************--*/
.filtre {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.filtre p {
    margin-right: 20px;
}
.filtre button {
    height: 40px;
    font-weight: bold;
    font-size: 0.9rem;
    flex-basis: 14%;
    background: white;
    color: black;
    outline: 0;
    margin-right: 13px;
    padding: 0;
    /* box-shadow: 4px 8px 16px rgba(0,0,0,0.3); */
    border-radius: 50px;
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    justify-items: center;
}
.filtre button:nth-child(5) {
    flex-basis: 20%;
}
.filtre .img {
    background-color: #81a8e24d;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    display: grid;
    justify-items: center;
    align-items: center;
}
.filtre img {
    height: 16px;
    margin: 7px;
}
@media (max-width: 1024px) {
    .filtre button {
        flex-basis: 19%;
    }
    .filtre button:nth-child(5) {
        flex-basis: 25%;
    }  
}
@media (max-width: 762px) {
    .filtre {
        display: grid;
        grid-template-columns: 30% 30%;
        grid-template-rows: 50px 50px 50px;
    }
    .filtre button:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .filtre button:nth-child(3) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .filtre button:nth-child(4) {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .filtre button:nth-child(5) {
        grid-column: 2/3;
        grid-row: 4/3;
    }
}
@media (max-width: 540px) {
    header {
        padding: 0 15px;
    }
    .filtre {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50px 50px 50px 50px;
    }
    .filtre button:nth-child(2), 
    .filtre button:nth-child(3), 
    .filtre button:nth-child(4) {
        display: flex;
    }
    .filtre button:nth-child(5) {
        width: 115%;
        grid-column: 1/2;
        grid-row: 4/5;
        display: flex;
    }
    .filtre button:nth-child(2) .img, 
    .filtre button:nth-child(3) .img, 
    .filtre button:nth-child(4) .img {
        width: 25%;
        height: 40px;
    }
    .filtre button:nth-child(5) .img {
        width: 20%;
        height: 40px;
    }
    .filtre button h3 {
        margin: auto;
    }
}
/*--************************* (main hébergement) *************************--*/
main{   
    margin: 20px 0;
    display: flex;
}
article {   
    width: 70%;
    background-color: #F2F2F2;
    border-radius: 13px;
    display: grid;
    grid-template-columns: 32.8% 32.8% 32.8%;
    grid-template-rows: 10% 40% 40% 8%;
    gap: 3px;
}
article h2{
    margin: 30px 10px 0;
    grid-column: 1/5;
    justify-self: center; 
}
main figcaption {
    margin: 10px 0 0 10px;
    font-size: large;
    font-weight: bold;
}
main p {
    font-size: medium;
}
article .card:nth-child(2){
    grid-row: 2/3;
    grid-column: 1/2;
}
article .card:nth-child(3) {
    grid-row: 2/3;
    grid-column: 2/3;
}
article .card:nth-child(4) {
    grid-row: 2/3;
    grid-column: 3/4;
}
article .card:nth-child(5) {
    grid-row: 3/4;
    grid-column: 1/2;
}
article .card:nth-child(6) {
    grid-row: 3/4;
    grid-column: 2/3;
}
article .card:nth-child(7) {
    grid-row: 3/4;
    grid-column: 3/4;
}
article p:nth-child(8) {
    margin: 20px;
    grid-column: 1/5;
    grid-row: 4/5;
}
article .card,
aside .card {
    width: 80%;
    height: 85%;
    margin: 20px 0;
    padding: 4px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 13px;
    align-self: center;
    justify-self: center;
}
article .card:nth-child(2) .img {
    background-color: #333;
    background-image: url('../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
    background-size: cover;
    background-position: center;
/* background: no-repeat center / cover url('../images/hebergements/4_small/.jpg'); */
}
article .card:nth-child(3) .img {
    background-color: #333;
    background-image: url('../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
    background-size: cover;
    background-position: center;
/* background: no-repeat center / cover url('../images/hebergements/4_small/.jpg'); */
}
article .card:nth-child(4) .img {
    background-color: #333;
    background-image: url('../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
    background-size: cover;
    background-position: center;
/* background: no-repeat center / cover url('../images/hebergements/4_small/.jpg'); */
}
article .card:nth-child(5) .img {
    background-color: #333;
    background-image: url('../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
    background-size: cover;
    background-position: center;
/* background: no-repeat center / cover url('../images/hebergements/4_small/.jpg'); */
}
article .card:nth-child(6) .img {
    background-color: #333;
    background-image: url('../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
    background-size: cover;
    background-position: center;
/* background: no-repeat center / cover url('../images/hebergements/4_small/.jpg'); */
}
article .card:nth-child(7) .img {
    background-color: #333;
    background-image: url('../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
    background-size: cover;
    background-position: center;
/* background: no-repeat center / cover url('../images/hebergements/4_small/.jpg'); */
}
article .img{
    width: 100%;
    height: 100px;
    border-radius: 10px;
}
.etoile, .card p{
    margin-left: 10px;
}
.etoile {
	display: flex;
	margin-top: auto;
    padding-bottom: inherit;
}


@media (max-width: 1024px) {
    main {
        padding: 20px 0;
        display: flex;
        flex-direction: column-reverse;
    }
    article {
        width: 100%;
        height: 648px;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 68px 265px 265px 50px;
        gap: 0;
    }
    
    article .card, aside .card {
        height: 232.6px;
        border-radius: 20px;
    }
    article .card {
        width: 90%;
    }
    article h4 {
        margin: 5px 0 5px 10px;
        font-weight: bold;
    }
    .etoile {
        margin-top: auto;
    }
    article .card .img {
        height: 140px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

/*--************************* ( aside populaire ) *************************--*/
aside { 
    width: 30%;
    padding: 0 20px;  
    background-color: #F2F2F2;
    border-radius: 13px;
    display: grid;
    margin-left: 20px;
    grid-template-rows: 10% 26.6% 26.6% 26.6%;
    grid-template-columns: 100%;
    row-gap: 10px;
}
aside .card{
    width: 100%;
    height: 140px;
    padding-bottom: 0px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 52px 37.5px 42px;
    align-self: center;
    justify-self: center;
    column-gap: 8px;
}
.titleAside {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.fa, .far, .fas {
	font-size: 16px;
}
aside .card:nth-child(2) .img {
    background-color: #333;
    background-image: url('../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
    background-size: cover;
    background-position: center;
    /* background: no-repeat center / cover url('../images/hebergements/4_small/.jpg'); */
}
aside .card:nth-child(3) .img {
    background-color: #333;
    background-image: url('../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
    background-size: cover;
    background-position: center;
    /* background: no-repeat center / cover url('../images/hebergements/4_small/.jpg'); */
}
aside .card:nth-child(4) .img {
    background-color: #333;
    background-image: url('../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
    background-size: cover;
    background-position: center;
    /* background: no-repeat center / cover url('../images/hebergements/4_small/.jpg'); */
}
    
aside .img{
    grid-row: 1/4;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
aside figcaption {
    grid-column: 2/3;
}

aside .card:nth-child(2) {
    grid-row: 2/3;
  
}
aside .card:nth-child(3) {
    grid-row: 3/4;

}
aside .card:nth-child(4) {
    grid-row: 4/5;

}

aside .etoile{
    align-self: flex-end;
}
@media (max-width: 1072px) {
    aside .card:nth-child(3) {
    grid-template-rows: 73px 28.5px 29.5px;
    column-gap: 8px;
}
    /* aside .card:nth-child(3) p {
        align-self: flex-end;
    } */
}
/* @media (max-width: 1135px) {

} */
@media (max-width: 1024px) {
    aside {
        width: 100%;
        height: 360px;
        margin-left: 0;
        margin-bottom: 20px;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 68px 265px;
        row-gap: 21px;
    }
    .titleAside {
        grid-column: 1/4;
        justify-content: center;
        align-items: center;
    }
    .titleAside h2 {
        margin-right: 25px;
    }
    aside .card {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }
    aside .img{
        height: 148px;
    }
    aside .etoile {
        align-self: flex-start;
        display: flex;
        margin-top: auto;
        padding-bottom: 10px;
    }

    aside .card {
        height: 232.6px;
        width: 90%;
    }
    aside .card:nth-child(3) {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    aside .card:nth-child(4) {
        grid-row: 2/3;
        grid-column: 3/4;
    }
}
@media (max-width: 762px) {
    main {
        gap: 10px;
    }
    article,
    aside {
        width: 100%;
        align-self: center;
        margin: 0;
    }
    aside {
        height: 360px;
        padding: 10px 0;
    }
}
@media (max-width: 540px) {
    main {
        flex-direction: column-reverse;
    }
    article {
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 1685px;
        padding: 0 15px;
    }
    aside {
        height: 730px;
        padding: 25px 15px 0;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .titleAside {
        justify-content: space-between;
    }
    aside .card:nth-child(2),
    aside .card:nth-child(3),
    aside .card:nth-child(4) {
        width: 100%;
        height: 190px;
        margin: 25px 0;
        padding-bottom: 0px;
        border-radius: 30px;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 32.3% 32.3% 32.3%;
        align-self: center;
        justify-self: center;
    }

    aside .img {
        height: 100%;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    aside .etoile {
        align-self: flex-end;
    }
}
/*--************************* ( section activité ) *************************--*/
section { 
    width: 100%;  
    margin: 35px 0;
    border-radius: 13px;
    display: grid;
    grid-template-rows: 10% 174px 175px;
    grid-template-columns: 23.2% 22% 23.2% 22%;
    column-gap: 3.1%;
}
section .card{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

section .card:nth-child(2) {
    grid-row: 2/4;
    grid-column: 1/2;
}
section .card:nth-child(3) {
    grid-row: 2/3;
    grid-column: 2/3;
}
section .card:nth-child(4) {
    grid-row: 3/4;
    grid-column: 2/3;
    height: 80%;
    align-self: flex-end;
}
section .card:nth-child(5) {
    grid-row: 2/4;
    grid-column: 3/4;
}
section .card:nth-child(6) {
    grid-row: 2/3;
    grid-column: 4/5;
    height: 80%;
    align-self: flex-start;
}
section .card:nth-child(7) {
    grid-row: 3/4;
    grid-column: 4/5;
}

section .card:nth-child(2) .img{
    background-color: #333;
    background-image: url('../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
    background-size: cover;
    background-position: center;
    /* background: no-repeat center / cover url('../images/activites/4_small/.jpg'); */
}
section .card:nth-child(3) .img{
    background-color: #333;
    background-image: url('../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
    background-size: cover;
    background-position: center;
    /* background: no-repeat center / cover url('../images/activites/4_small/.jpg'); */
}
section .card:nth-child(4) .img{
    background-color: #333;
    background-image: url('../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
    background-size: cover;
    background-position: center;
    /* background: no-repeat center / cover url('../images/activites/4_small/.jpg'); */
}
section .card:nth-child(5) .img{
    background-color: #333;
    background-image: url('../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
    background-size: cover;
    background-position: center;
    /* background: no-repeat center / cover url('../images/activites/4_small/.jpg'); */
}
section .card:nth-child(6) .img{
    background-color: #333;
    background-image: url('../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg');
    background-size: cover;
    background-position: center;
    /* background: no-repeat center / cover url('../images/activites/4_small/.jpg'); */
}
section .card:nth-child(7) .img{
    background-color: #333;
    background-image: url('../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
    background-size: cover;
    background-position: center;
    /* background: no-repeat center / cover url('../images/activites/4_small/.jpg'); */
}
section .card .img{
    width: 100%;
    height: 80%;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
section .card-100 .img{
    width: 100%;
    height: 90%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*--------- text ---------*/
section h3 {
    margin-bottom: 13px;
    grid-column: 1/3;
}
section .card figcaption {
	margin: auto 0 auto 30px;
	font-weight: bold;
}


@media (max-width: 1024px) {
    section {
        margin: 0 0 20px;;
        grid-template-rows: 28px 205px 205px 205px 205px;
        grid-template-columns: 49% 49%;
        column-gap: 2%;
        row-gap: 20px;
    }
    section .card:nth-child(3) {
        grid-row: 2/3;
        grid-column: 2/3;
        height: 100%;
    }
    section .card:nth-child(4) {
        grid-row: 3/4;
        grid-column: 2/3;
        height: 100%;
    }
    section .card:nth-child(5) {
        grid-row: 4/6;
        grid-column: 2/2;
        height: 100%;
    }
    section .card:nth-child(6) {
        grid-row: 4/4;
        grid-column: 2/1;
        height: 100%;
    }
    section .card:nth-child(7) {
        grid-row: 5/6;
        grid-column: 2/1;
        height: 100%;
    }
    section .card .img {
        height: 82%;
    }
    section .card-100 .img {
        height: 90%;
    }
}
@media (max-width: 540px) {
    section {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
    }
    section .card:nth-child(2),
    section .card:nth-child(3),
    section .card:nth-child(4),
    section .card:nth-child(5),
    section .card:nth-child(6),
    section .card:nth-child(7){
        height: 237px;
        border-radius: 30px;
        align-self: center;
    }
    section .card:nth-child(3),
    section .card:nth-child(4),
    section .card:nth-child(5),
    section .card:nth-child(6) {
        margin: 25px 0;
    }
    section .card:nth-child(2){
        margin-bottom: 25px;
    }
    section .card:nth-child(7){
        margin-top: 25px;
    }
    section .card .img {
        height: 80%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
}
/*--************************* (Footer) *************************--*/
footer {
    background-color: #F2F2F2;
    padding: 20px 0;
    display: grid;
    grid-template-rows: 158px;
    grid-template-columns: 24% 24% 24% 24%;
}
footer h3{
    margin: 10px 0;
}

.propos,
.hebergement,
.assistance {
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin-left: auto;
}

@media (max-width: 762px) {
    footer {
        grid-template-columns: 33.33% 33.3% 33.3%;
        padding-left: 14px;
    }
    .propos {
        margin-left: 0;
    }
    .hebergement, 
    .assistance{
        margin: 0 auto;
    }
}
    @media (max-width: 540px) {
        footer {
        display: flex;
        flex-direction: column;
        padding: 30px 15px;
        align-items: flex-start;
    }
    .propos, .hebergement, .assistance {
        margin: 0;
    }
    .hebergement {
        margin: 20px 0;
    }
}
