*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}


/*--************************* ( container principale ) *************************--*/
.container{
    margin: 0 30px 30px;
    display: flex;
    flex-direction: column;
}
.container a{
    text-decoration: none;
}
.container .card {
    box-shadow: 4px 8px 16px rgba(0,0,0,0.3);
}
@media (max-width: 1024px) {
    .container {
        margin: 0 12px 30px;
    }
}
@media (max-width: 540px) {
    .container {
	margin: 20px 0px 30px;
    }
    .container .card {
        width: 100%;
    }
}
/*--************************* ( navbar) *************************--*/
nav {
    /* position: fixed; */
    width: 100%;
    border-bottom: 1px solid transparent;
    z-index: 100;
    display: flex;
}

.logo-menu {
	align-self: flex-end;
    margin-right: auto;
}

nav a {
    display: flex;
}
.liste-nav {
    border-bottom: 1px dotted transparent;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    position: fixed;
    z-index: 200;
}
.item-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #0065FC;
    text-decoration: none;
    margin: 0 20px;
}


/*--************************* (header) *************************--*/
header {
    margin: 70px 0 23px;
}
header h3:nth-child(1) {
    line-height: 30px;    
}
header a {
    display: flex;
    margin-top: 25px;
}
header a p{
    margin-left: 10px;
    color: black;
}

/*--************************* ( form recherche) *************************--*/
.flexForm {
    width: 393px;
    height: 38px;
    margin: 17px 0;
    display: flex;
    z-index: 10;
    position: relative;
}
.flexForm > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 16px;
    border-radius: 0;
    outline: 0;
}

input[type="search"] {
    flex-basis: 500px;
    padding-right: 10px;
    cursor: pointer;
}
.flexForm input {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.flexForm label {
    padding: 0;
    background-color: #F2F2F2;
    flex-basis: 45px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
}
.flexForm label img {
	width: 22px;
	margin: auto;
	align-self: auto;
}

.flexForm button, .filtre button {
    background: #0065FC;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
}
.flexForm button:hover, .filtre button {
    background: #8a63dd;
    border: 1px solid #8a63dd;
}
.fa-search{
    display: none;
}
/* @media (max-width: 1024px) {

} */
@media (max-width: 540px) {
    nav {
        /* position: fixed; */
        height: 95px;
    }
    
    .liste-nav {
        height: 95px;
        padding: 0 25px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 47.5px 47.5px;
    }
    /* .logo-menu img {
        max-width: 100%;
        height: auto;
    } */
    .logo-menu {
        grid-column: 1/2;
        grid-row: 1/2;
        height: 68px;
    }
    .liste-nav li:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: flex-end;
    }
    .liste-nav li:nth-child(3) {
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: flex-end;
        
    }
    .liste-nav li:nth-child(4) {
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: flex-end;
    }
    .liste-nav li:nth-child(4) a{
       margin: 0;
    }
    .item-nav {
        font-size: 1.5rem;
        align-items: center;
    }

    .flexForm {
        width: 100%;
        height: 51px;
    }
    input[type="search"] {
        padding-right: 0;
        flex-basis: 70%;
        border-radius: 0;
    }
    .flexForm button {
        width: 19%;
        border-radius: 18px;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .flexForm button p {
        display: none;
    }
    .fa-search{
        display: block;
    }
}
/*--************************* ( filtres ) *************************--*/
.filtre {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.filtre p {
    margin-right: 20px;
}
.filtre button {
    height: 40px;
    font-weight: bold;
    font-size: small;
    flex-basis: 14%;
    background: white;
    color: black;
    outline: 0;
    margin-right: 13px;
    padding: 0;
    /* box-shadow: 4px 8px 16px rgba(0,0,0,0.3); */
    border-radius: 50px;
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    justify-items: center;
}
.filtre button:nth-child(5) {
    flex-basis: 20%;
}
.img {
    background-color: #81a8e24d;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    display: grid;
    justify-items: center;
    align-items: center;
}
.filtre img {
    height: 16px;
    margin: 7px;
}
@media (max-width: 1024px) {
    .filtre button {
        flex-basis: 19%;
    }
    .filtre button:nth-child(5) {
        flex-basis: 25%;
    }  
}
@media (max-width: 762px) {
    .filtre {
            display: grid;
            grid-template-columns: 30% 30%;
            grid-template-rows: 50px 50px 50px;
        }
    .filtre button:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .filtre button:nth-child(3) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .filtre button:nth-child(4) {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .filtre button:nth-child(5) {
        grid-column: 2/3;
        grid-row: 4/3;
    }
}
@media (max-width: 540px) {
    header {
        padding: 0 30px;
    }
    .filtre {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50px 50px 50px 50px;
    }
    .filtre button:nth-child(5) {
        grid-column: 1/2;
        grid-row: 4/5;
    }
}
/*--************************* (main hébergement) *************************--*/
main{   
    margin: 20px 0;
    display: flex;
}
article {   
    width: 70%;
    background-color: #F2F2F2;
    border-radius: 13px;
    display: grid;
    grid-template-columns: 32.3% 32.3% 32.3%;
    grid-template-rows: 9% 40% 40% 8%;
    gap: 5px;
}
main h4 {
    font-size: 0.9rem;
    font-weight: bold;
}
article h2{
    margin: 30px 10px 0;
    grid-column: 1/5;
    justify-self: center; 
}
article h4 {
    margin: 10px 5px 5px;
}
article .card:nth-child(2){
    grid-row: 2/3;
    grid-column: 1/2;
}
article .card:nth-child(3) {
    grid-row: 2/3;
    grid-column: 2/3;
}
article .card:nth-child(4) {
    grid-row: 2/3;
    grid-column: 3/4;
}
article .card:nth-child(5) {
    grid-row: 3/4;
    grid-column: 1/2;
}
article .card:nth-child(6) {
    grid-row: 3/4;
    grid-column: 2/3;
}
article .card:nth-child(7) {
    grid-row: 3/4;
    grid-column: 3/4;
}
article p {
    margin: 20px;
    grid-column: 1/5;
    grid-row: 4/5;
}
article .card,
aside .card {
    width: 80%;
    height: 85%;
    margin: 20px 0;
    padding: 4px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 13px;
    align-self: center;
    justify-self: center;
}
article .card img{
    width: 100%;
    height: 100px;
    border-radius: 10px;
}
.etoile{
    margin-left: 5px;
}

.etoile a:hover,
.etoile a:focus {
    color: blue;
    cursor: pointer;
}
.etoile a {
    color: #aaa;
    text-decoration: none;
    font-size: 1em;
    transition: color .4s;
}
.etoile p{
    margin: 0;
}

@media (max-width: 1024px) {
    article {
        width: 65%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 68px 265px 265px 265px 50px;
        gap: 0;
        height: 920px;
    }
    article .card, aside .card {
        height: 230.6px;
    }
    article .card:nth-child(4) {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    article .card:nth-child(5) {
        grid-row: 3/4;
        grid-column: 2/3;
    }
    article .card:nth-child(6) {
        grid-row: 4/5;
        grid-column: 1/2;
    }
    article .card:nth-child(7) {
        grid-row: 4/5;
        grid-column: 2/3;
    }
    article p {
        grid-row: 5/6;
    }
    article .card img{
        height: 140px;
    }
}

/*--************************* ( aside populaire ) *************************--*/
aside { 
    width: 30%;  
    background-color: #F2F2F2;
    border-radius: 13px;
    display: grid;
    margin-left: 20px;
    grid-template-rows: 10% 26.6% 26.6% 26.6%;
    grid-template-columns: 100%;
    row-gap: 10px;
}
aside .card{
    width: 86%;
    height: 80%;
    padding-bottom: 0px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 32.3% 32.3% 32.3%;
    align-self: center;
    justify-self: center;
    column-gap: 8px;
}
aside h2 {
    align-self: flex-end;
    justify-self: center;
}
aside img{
    grid-row: 1/4;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
aside h4 {
    grid-column: 2/3;
}

aside .card:nth-child(2) {
    grid-row: 2/3;
  
}
aside .card:nth-child(3) {
    grid-row: 3/4;

}
aside .card:nth-child(4) {
    grid-row: 4/5;

}

aside .etoile{
    align-self: flex-end;
}

@media (max-width: 1024px) {
    aside {
        width: 35%;
        height: 920px;
        grid-template-rows: 64px 238.6px 250.6px 283.6px;
        row-gap: 21px;
    }
    aside .card {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }
    aside img{
        height: 148px;
    }
    aside h4 {
        margin: 10px 5px 5px;
    }
    aside .etoile{
        align-self: flex-start;
    }
    aside .card:nth-child(2) {
        height: 228.6px;
    }
    aside .card:nth-child(3) {
        height: 244.6px;
    }
    aside .card:nth-child(4) {
        grid-row: 4/5;
        height: 230.6px;
    }
}
@media (max-width: 762px) {
    main {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    article,
    aside {
        width: 100%;
        align-self: center;
        margin: 0;
    }
    aside {
        height: 893px;
    }
}
@media (max-width: 540px) {
    main {
        flex-direction: column-reverse;
    }
    article {
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 1685px;
        padding: 0 30px;
    }
    aside {
        height: 760px;
        padding: 0 30px;
        border-radius: 0;
        grid-template-rows: 64px 200px 200px 200px; 
    }
    aside .card:nth-child(2),
    aside .card:nth-child(3),
    aside .card:nth-child(4) {
        width: 100%;
        height: 190px;
        border-radius: 30px;
        padding-bottom: 0px;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 32.3% 32.3% 32.3%;
        align-self: center;
        justify-self: center;
        column-gap: 0;
    }
    aside img {
        height: 100%;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
}
/*--************************* ( section activité ) *************************--*/
section { 
    width: 100%;  
    margin: 35px 0;
    border-radius: 13px;
    display: grid;
    grid-template-rows: 10% 174px 175px;
    grid-template-columns: 22% 22% 22% 22%;
    column-gap: 4%;
}
section .card{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
section .card img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

section .card:nth-child(2) {
    grid-row: 2/4;
    grid-column: 1/2;
}
section .card:nth-child(3) {
    grid-row: 2/3;
    grid-column: 2/3;
}
section .card:nth-child(4) {
    grid-row: 3/4;
    grid-column: 2/3;
    height: 80%;
    align-self: flex-end;
}
section .card:nth-child(5) {
    grid-row: 2/4;
    grid-column: 3/4;
}
section .card:nth-child(6) {
    grid-row: 2/3;
    grid-column: 4/5;
    height: 80%;
    align-self: flex-start;
}
section .card:nth-child(7) {
    grid-row: 3/4;
    grid-column: 4/5;
}

/*--------- text ---------*/
section h3 {
    margin-bottom: 13px;
    grid-column: 1/3;
}
section .card p {
    margin: auto 15px;
}


@media (max-width: 1024px) {
    section {
        margin: 35px 0 20px;
        grid-template-rows: 28px 205px 205px 205px 205px;
        grid-template-columns: 49% 49%;
        column-gap: 2%;
        row-gap: 20px;
    }
    section .card:nth-child(3) {
        grid-row: 2/3;
        grid-column: 2/3;
        height: 100%;
    }
    section .card:nth-child(4) {
        grid-row: 3/4;
        grid-column: 2/3;
        height: 100%;
    }
    section .card:nth-child(5) {
        grid-row: 4/6;
        grid-column: 2/2;
        height: 100%;
    }
    section .card:nth-child(6) {
        grid-row: 4/4;
        grid-column: 2/1;
        height: 100%;
    }
    section .card:nth-child(7) {
        grid-row: 5/6;
        grid-column: 2/1;
        height: 100%;
    }
    section .card img {
        height: 82%;
    }
    section .card-100 img {
        height: 90%;
    }
}
@media (max-width: 540px) {
    section {
        display: flex;
        flex-direction: column;
        padding: 0 30px;
    }
    section .card:nth-child(2),
    section .card:nth-child(3),
    section .card:nth-child(4),
    section .card:nth-child(5),
    section .card:nth-child(6),
    section .card:nth-child(7){
        height: 237px;
        border-radius: 30px;
        align-self: center;
    }
}
/*--************************* (Footer) *************************--*/
footer {
    background-color: #F2F2F2;
    padding: 20px 0;
    display: grid;
    grid-template-rows: 158px;
    grid-template-columns: 24% 24% 24% 24%;
}
footer h3{
    margin: 10px 0;
}

.propos,
.hebergement,
.assistance {
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin-left: auto;
}

@media (max-width: 762px) {
    footer {
        grid-template-columns: 33.33% 33.3% 33.3%;
        padding-left: 14px;
    }
    .propos {
        margin-left: 0;
    }
    .hebergement, 
    .assistance{
        margin: 0 auto;
    }
}
    @media (max-width: 540px) {
        footer {
        display: flex;
        flex-direction: column;
        padding: 30px 30px;
        align-items: flex-start;
    }
    .propos, .hebergement, .assistance {
        margin: 0;
    }
    .hebergement {
        margin: 20px 0;
    }
}